<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <title>Template</title>
    <style>
      .banner{
        width: 100%;
        height: 50%;
      }
      @media only screen and (max-width: 576px) {
        .power {
          font-size: 13px;
        }
        .logo {
          width: 70px;
        }
      }
    </style>
</head>
<body>
    <div style="font-family: 'Source Sans Pro', sans-serif;">
      <h3 class="one">
        Hey {{ name }}, 
        Greetings from Centre Of Metaverse!
    </h3>
        <h2 class="three">
            Your submission is successful for Centre Of Metaverse Recruitment Drive 2023.
        </h2>
        <br>
            Thank You for your submission for the Centre Of Metaverse Recruitment Drive.<br/><br/> 
    
            We appreciate your interest and are pleased to see your enthusiasm.<br/><br/>

            Your task will be evaluated and the selected candidates will move further to the next round of the selection process, which is the Personal Interview (PI) round.<br/></br>

            Kindly ensure to check your emails regularly.<br/><br/>

            Follow us on Instagram for future updates <a href="https://www.instagram.com/centre.of.metaverse">@centre.of.metaverse</a>.<br/><br/>

            Virtual Thrills!<br/><br/>

            In case of query, contact: <br/>
            Kunal Mehrotra - <a href="tel:9119082208">9119082208</a> <br/>
            Sandeep Gupta - <a href="tel:7897468764">7897468764</a> <br/><br/>

            Regards<br/>
            Centre Of Metaverse
        </p>
    </div>
    <div class="center" style="text-align: center">
        <div><img style="width: 120px;" src="https://res.cloudinary.com/do16amngd/image/upload/v1682310860/IMG-20230424-WA0006_rzmblu.jpg" /></div>
        <div style ='color: black;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        margin-top: 10px;
        letter-spacing: 3px;
        font-size: 15px;'>Dream.Design.Develop</div>
      </div>    
</body>
</html>